// // xDai

// $primary:       #fec042;
// $secondary:     #53546a;
// $tertiary:      #1755e4;

// //poa

// $primary:       #5b389f;
// $secondary:     #7dd79f;
// $tertiary:      #997fdc;


// //artis pool
$c1: #4d997b;
$c2: #72c168;
$c3: #e97b9c;
$c4: #fcbfd1;
$c5: #c3da9e;
$c6: #9fd132;

//artis: 

$primary:       #9fd132;
$secondary:     #fcbfd1;
$tertiary:      #72c168;


