
// //artis pool
// $c1: #4d997b;
// $c2: #72c168;
// $c3: #e97b9c;
// $c7: #e9999c;
// $c4: #fcbfd1;
// $c5: #c3da9e;
// $c6: #9fd132;

$primary:       #e97b9c;
$secondary:     #9fd132;
$tertiary:      #e9999c;

