
// //artis pool
// $c1: #4d997b;
// $c2: #72c168;
// $c3: #e97b9c;
// $c7: #e9999c;
// $c4: #fcbfd1;
// $c5: #c3da9e;
// $c6: #9fd132;


$primary: #e5ff00;
$secondary: #f1d6d3;
$tertiary: #386a3c;
$additional-font: #e97b9c;